# Virtual Environment
myenv/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# ChromaDB
app/db/chroma_db/

# HuggingFace Cache (optional)
.cache/
hf_cache/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/